{{template "base" .}}

{{define "content"}}

<h1>This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sapiente, amet autem dolores voluptatum beatae id
    voluptates rerum ducimus odio, delectus ut ratione, eos nobis veritatis reprehenderit ipsum. Ex, nulla!</p>
<p>Hello</p>
<p>This came from template :{{index .StringMap "test"}}</p>
<p>{{if ne (index .StringMap "remote_ip") ""}}
    Your remote Ip address is {{index .StringMap "remote_ip"}}
    {{else}}
    I don't know your ip. visit the <a href="/">Home page</a> so i can set it
    {{end}}

</p>

<a href="/">Home page</a>

{{end}}